[Unit]
Description=The Luna Next UI
Conflicts=getty@tty1.service
Requires=ls-hubd_private.service ls-hubd_public.service
After=ls-hubd_private.service ls-hubd_public.service

[Service]
Type=notify
EnvironmentFile=-/etc/luna-next/environment.conf
ExecStart=/usr/sbin/luna-next $LUNA_NEXT_OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
