[Unit]
Description=The Luna Next UI
Conflicts=getty@tty1.service

[Service]
Type=notify
EnvironmentFile=-/etc/luna-next/environment.conf
ExecStart=/usr/sbin/luna-next $LUNA_NEXT_OPTIONS --systemd
Restart=always

[Install]
WantedBy=multi-user.target
