[Unit]
Description=The Luna Next UI
Conflicts=getty@tty1.service
Requires=ls-hubd.service
After=ls-hubd.service luna-sysmgr.service luna-appmanager.service

[Service]
Type=notify
EnvironmentFile=-/etc/luna-next/environment.conf
ExecStart=/usr/sbin/luna-next $LUNA_NEXT_OPTIONS
Restart=always
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
